body {
    display: grid;
    place-items: center;
    background: #000000;
}

.profile {
    padding: 0;
    background: linear-gradient(2deg, #181823, #000000);
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
    position: relative;
}

.profile .data {
    background-color: #0000001b;
    backdrop-filter: blur(10px);
    padding: 0 0 20px 0px;
    width: min(400px, 88%);
    height: 640px;
    align-items: center;
    border: 2px solid #ffffff18;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.profile .data img {
    width: min(400px, 100%);
    height: auto;
    border-radius: 20px 20px 0 0;
}

.profile .data .name::before {
    content: "Juancarlos";
}

.profile .data .footImg {
    position: relative;
    height: 110px;
    background: linear-gradient(to bottom, #00000000, #0b0b0c);
    width: 100%;
    margin-top: -110px;
}

.profile .data .name {
    background: linear-gradient(to  right, rgb(10, 102, 250), rgb(237, 124, 11));
    background-clip: text;
    background-size: 100%;
    color: transparent;
    margin-top: 10px;
}

.row {
    padding: 20px;
}

.Content-Social label {
    color: #ffffffb4;
    font-weight: 600;
    margin: 30px 0 15px 0;
}

.Social {
    display: flex;
    transition: all .3s;
    gap: 20px
}

.Social a,
.Social button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-decoration: none;
    color: #FFFFFF;
    box-sizing: border-box;
    flex-shrink: 0;
    font-weight: 600;
    transition: all .3s ease;
    display: grid;
    place-items: center;
    margin: auto;
    border: 2px solid #ffffff00;
}

.Social button {
    background: none;
    font-size: 25px;
}

.Social a svg {
    height: 25px;
}

.Social a::before,
.Social button::before {
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: #FFFFFF;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 25px;
    transform: translateY(-30px) rotate(25deg);
    font-size: 14px;
    opacity: 0;
    transition: .3s ease;
}

.Social a:hover,
.Social button:hover {
    background-color: var(--accent-color);
    fill: #FFFFFF;
}

.Social a::after,
.Social button::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    transform: translateY(0) rotate(25deg);
    opacity: 0;
}

.Social a:hover::before,
.Social button:hover::before {
    transform: translateY(-54px) rotate(0);
    opacity: 1;
}

.Social a:hover {
    text-decoration: none;
}

.Social a:hover,
.Social button:hover {
    /*color: #000000;
    background-color: #FFFFFF;*/
    border: 2px solid #FFFFFF;
    background: none;
}


.foot {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #00000041;
    padding-top: 5px;
}

.foot p {
    color: #ffffffad;
}

.foot label::before {
    content: 'Juan Carlos Chapo\00F1 an S.';
    color: #ffffff82;
    font-size: 12px;
    margin-left: 5px;
}